<style>
.container {
    text-align: center;
    margin-top: 20px;
}

h2 {
    color: blue;
    font-size: 24px;
    font-weight: bold;
}

img {
    width: 200px;
    cursor: pointer;
    border: 2px solid lightblue;
    border-radius: 10px;
}

input {
    padding: 10px;
    width: 50%;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-top: 10px;
}

.error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}


</style>  
<div class="container">
  <h2>{{title}}</h2>  
  <img [src]="ImageURL" (click)="onClick()" alt="Dynamic BridgeLabz Logo"> 
</div>

<div class="container">
  <h2>{{title}} {{ userName }}</h2>  
  <input type="text" [(ngModel)]="userName" placeholder="Enter your name"> 
  <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
</div>
